{deps,
    [
        {dlhttpc, ".*", {git, "http://github.com/ferd/dlhttpc.git", {tag, "0.3.0"}}},
        {jiffy, ".*", {git, "https://github.com/davisp/jiffy.git"}}
    ]
}.

{overrides, [
  {override, jiffy, [
    {plugins, [
      {pc, {git, "git@github.com:blt/port_compiler.git", {branch, "master"}}}
    ]},

    {provider_hooks, [
      {post,
        [
          {compile, {pc, compile}},
          {clean, {pc, clean}}
        ]
      }]
    }
  ]}
]}.
